.idea/
.vscode/
.DS_Store
.env
node_modules/
temp/
!tmp/uploads/.gitkeep
tmp/uploads/*.jpg
tmp/uploads/*.pdf
tmp/uploads/*.png
tmp/uploads/*.jpeg
tmp/uploads/*.docx
tmp/uploads/*.doc
tmp/*.jpg
tmp/*.pdf
tmp/*.jpeg
tmp/*.png
tmp/*.docx
tmp/*.doc
!tmp/.gitkeep
build/
coverage/
